.cropper-container {
	overflow: hidden;
	font-size: 0px;
	position: relative;
	height: 400px;
	width: 400px;
	border: solid 1px black;
}

.cropper-container[disabled] {
	visibility: hidden;
	position: absolute;
}

.current-avatar {
	max-height: 256px;
}

.cropper {
	position: absolute;
	outline: solid rgba(0, 0, 0, 0.6) 1000px;
	left: 0px;
	top: 0px;
	height: 100px;
	width: 100px;
	cursor: move;
	border: 1px solid black;
	z-index: 1;
}

.tl-resizer, .tr-resizer, .bl-resizer, .br-resizer {
	position: absolute;
	height: 6px;
	width: 6px;
	background: white;
	border: 1px solid black;
}

.tl-resizer {
	left: -3px;
	top: -3px;
	cursor: nwse-resize;
}
.tr-resizer {
	right: -3px;
	top: -3px;
	cursor: nesw-resize;
}
.bl-resizer {
	left: -3px;
	bottom: -3px;
	cursor: nesw-resize;
}
.br-resizer {
	right: -3px;
	bottom: -3px;
	cursor: nwse-resize;
}
.round-preview {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 2px dashed white;
	border-radius: 50%;
	box-sizing: border-box;
	z-index: -1;
}